<h2>User Details</h2>

<div id="user_profile">
  <b>First Name:</b> <%=h @user.first_name %><br/>
  <b>Last Name:</b> <%=h @user.last_name %><br/>
  <b>Email:</b> <%=h @user.email %><br/>
  <%= link_to 'Edit', edit_admin_user_path(@user) %><br/>
  <%= link_to 'Delete', admin_user_path(@user), :method => :delete, :confirm => 'Are you sure?' %><br/>
  <%= link_to 'Impersonate', impersonate_path(:user_id => @user.id), :id => "impersonate_#{@user.id}" %>
</div>
