<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-US" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:description) %>" />
  <meta name="keywords" content="<%= yield(:keywords) %>" />
  <meta name="robots" content="INDEX,FOLLOW" />

  <%= stylesheet_link_tag "style" %>
  <!--[if IE 6]>
		<%= stylesheet_link_tag "ie6-style" %>
	<![endif]-->

	<%- if request.ssl? -%>
	  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
	<%- else -%>
	  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
	<%- end -%>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  
  <% if signed_in? %>
    <% if impersonating? %>
      Impersonating <%= current_user.name %>
      | <%= link_to 'Stop impersonating', impersonation_path, :method => :delete %>
    <% else %>
      Welcome, <%= current_user.name %>
      | <%= link_to 'Sign out', sign_out_path %>
    <% end %>
    
    <% if current_user.admin? %>
      | <%= link_to 'Admin', impersonations_path %>
    <% end %>
    
    | <%= link_to 'My Profile', user_path(current_user) %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %> |
    <%= link_to 'Sign up', sign_up_path %>
  <% end %>
  
  <div id="flash">
    <%- flash.each do |key, value| -%>
      <div class="<%= key %>_flash"><%=h value %></div>
    <%- end -%>
  </div>
  <%= yield %>
</body>
</html>